*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**.graphqls
*.svg
.env
**.secrets
secrets.properties
keystore
app/release
keystore_base64.txt
explanation.txt
**.txt
reflog.sh
test.json
Runtree.py
.kotlin/
app/test.json
jobs.json
projects.json
clean.sh
AndroidStudio.vbs
events.json
Screenshot_20260605_132603_Gitlab.jpg
profile.jpg
firstcommits.json

