*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**.graphqls
*.svg
.env
**.secrets
secrets.properties
keystore
app/release
keystore_base64.txt
explanation.txt
**.txt
reflog.sh
test.json
Runtree.py
.kotlin/
app/test.json
AndroidStudio.vbs
clean.sh
projects.json
firstcommits.json
jobs.json
events.json
Screenshot_20260605_132603_Gitlab.jpg

app/src/main/graphql/com/ahtat204/graphql.config.yml
git.csv
launch.sh
