*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**.graphqls
*.svg
.env
**.secrets
secrets.properties
keystore
app/release
keystore_base64.txt
explanation.txt
**.txt
app/test.json.kotlin/errors/errors-1780072009196.log
AndroidStudio.vbs
Runtree.py
clean.sh
events.json
jobs.json
projects.json
reflog.sh
test.json
.kotlin
.kotlin/
app/test.json
branches.txt
RetrofitEvents.txt
Screenshot_20260605_132603_Gitlab.jpg
app/src/main/graphql/com/ahtat204/graphql.config.yml
firstcommits.json
git.csv
launch.sh
